/*
  Top-level stylesheet for the ereefs.org.au website
*/

@import "ereefs-reset.css";

/* Masthead / titlebar */
.masthead {
   background-color: var(--ereefs-dark-blue);
   border-bottom: none;
   color: var(--ereefs-text-light);
}
.masthead a,
.masthead a:link,
.masthead a:visited {
   color: var(--ereefs-text-light);
   font-size: 1rem;
   text-decoration: none;
}
.masthead .active a,
.masthead a.active,
.masthead a:active,
.masthead a:focus,
.masthead a:focus-within,
.masthead a:hover {
   color: var(--ereefs-light-blue);
   font-size: 1rem;
   text-decoration: none;
}
.masthead .masthead__inner-wrap {
   font-family: inherit;
   padding: 0.5em 1em;
}
.masthead .greedy-nav {
   background: none;
}
.masthead .greedy-nav .visible-links a::before {
   display: none;
}
.masthead a.site-logo img {
   min-height: var(--ereefs-logo-min-height);
}
.masthead a.site-title {
   font-family: var(--ereefs-brand-font-family);
   font-size: var(--ereefs-brand-font-size);
   font-weight: var(--ereefs-brand-font-weight);
}
.masthead a.site-title:active,
.masthead a.site-title:focus,
.masthead a.site-title:focus-within,
.masthead a.site-title:hover {
   color: var(--ereefs-text-light);
}
.masthead .greedy-nav__toggle.hidden {
   display: none;
}
.masthead .greedy-nav .hidden-links {
   background-color: var(--ereefs-dark-blue);
}

@media (min-width: 80em) {
   .masthead__inner-wrap {
      max-width: 100%;
   }
}


/* Page Banner */
.page__hero--overlay::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 1px;
   top: 0;
   left: 0;
   box-shadow: 0px 0px 4em 1em #ffffff;
}
@media (min-width: 64em) {
   .layout--single .page__hero--overlay .page__title {
      margin-left: 200px;
   }
}
@media (min-width: 80em) {
   .layout--single .page__hero--overlay .page__title {
      margin-left: 300px;
   }
   .page__hero--overlay .wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px;
   }
}

/* Organisation Logos */
a:has(img.org-logo):hover {
   display: inline-block;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

img.org-logo {
   box-shadow: none !important;
   height: 5em !important;
   margin: 1em;
}

a.align-left > img.org-logo,
img.org-logo.align-left {
   margin-left: 0;
}


/* Page footer */
.page__footer {
   background-color: var(--ereefs-dark-blue);
   color: var(--ereefs-text-light);
   margin-top: 0;
}
.page__footer a,
.page__footer a:hover,
.page__footer i.fas {
   color: inherit;
}
.page__footer a:hover {
   color: var(--ereefs-light-blue);
}
.ereefs-footer {
   clear: both;
   font-size: small;
}

.ereefs-footer img.org-logo {
   margin: 1em 2em;
}
.ereefs-footer .logo-container {
    text-align: center;
}

.ereefs-footer .footer-legal {
   border-top: 1px solid var(--ereefs-light-grey);
   margin-top: 1em;
   padding-top: 1em;
}
.ereefs-footer .footer-legal a {
   border-right: 1px solid var(--ereefs-light-grey);
   padding: 0 1em;
}
.ereefs-footer .footer-legal a:first-child {
   padding-left: none;
}
.ereefs-footer .footer-legal a:last-child {
   border-right: none;
}

.page__footer-follow,
.page__footer-copyright {
   display: none;
}


/* Figures */
figure.third {
   text-align: center;
}
figure.third > a {
   display: inline-block;
   max-width: 400px;
   min-width: 300px;
   width: 32%;
   padding: 0 1em;
}

@media screen and (max-width:480px) {
   /* mobile */
   figure.third > a {
      display: block;
      min-width: 50px;
      padding: 0;
      width: 100%;
   }
}

/* Full navigation menu (left-hand sidebar) */
.sidebar li,
.sidebar p {
   font-family: var(--ereefs-text-font-family);
   font-size: inherit;
}

.sidebar .nav__list .nav__items {
   font-size: inherit;
}
.sidebar .nav__list .nav__items a,
.sidebar .nav__list .nav__items a:link,
.sidebar .nav__list .nav__items a:visited {
   color: var(--ereefs-darkest-blue);
}
.sidebar .nav__list .nav__items a.active,
.sidebar .nav__list .nav__items a:active,
.sidebar .nav__list .nav__items a:focus,
.sidebar .nav__list .nav__items a:focus-within,
.sidebar .nav__list .nav__items a:hover {
   color: var(--ereefs-dark-blue);
   font-weight: normal;
   text-decoration: none;
}
.sidebar .nav__list .nav__items li {
   margin: 0.5em 0;
}
.sidebar .nav__list .nav__items .nav__sub-title {
   color: var(--ereefs-dark-blue);
   font-family: var(--ereefs-headings-font-family) !important;
   font-size: 1em;
   margin-top: 1.5em;
   text-transform: none;
}

.sidebar > nav,
.sidebar .nav__list .nav__items > li:first-of-type .nav__sub-title {
   margin-top: 0;
}

.sidebar .nav__list .nav__items li ul {
   font-size: 0.8em;
}


/* Tables of contents (right-hand sidebar) */
.toc {
   background-color: transparent;
   border-color: var(--ereefs-light-grey);
   border-radius: 0;
   color: inherit;
   font-family: inherit;
}
.toc .nav__title {
   background-color: var(--ereefs-dark-blue);
   border-radius: 0;
   color: var(--ereefs-text-light)               ;
}
.toc .toc__menu {
   font-size: inherit;
}
.toc .toc__menu > li > a {
   background-color: transparent !important;
   border-bottom-color: var(--ereefs-light-grey);
   color: var(--ereefs-dark-blue);
   font-family: var(--ereefs-headings-font-family) !important;
}
.toc .toc__menu > li > ul {
   font-size: 0.8em;
}

.toc .toc__menu > li > ul a,
.toc .toc__menu > li > ul a:link,
.toc .toc__menu > li > ul a:visited {
   background-color: transparent !important;
   border-bottom-color: var(--ereefs-light-grey);
   color: var(--ereefs-darkest-blue);
}
.toc .toc__menu > li > ul .active a,
.toc .toc__menu > li > ul a:active,
.toc .toc__menu > li > ul a:focus,
.toc .toc__menu > li > ul a:focus-within,
.toc .toc__menu > li > ul a:hover {
   color: var(--ereefs-dark-blue);
   text-decoration: none;
}


/* Navigation tiles */
.tile {
   display: inline-block;
   margin: 0.5em;
   max-width: 400px;
   min-width: 295px;
   padding: 0;
   text-align: center;
   vertical-align: top;
   width: 30%;
}

.tile-and-content .tile {
   float: left;
   margin-right: 2em;
}


.tile a {
   background-color: var(--ereefs-dark-blue);
   color: var(--ereefs-text-light);
   display: block;
   margin: 0;
   padding: 1em;
   text-align: center;
   text-decoration: none !important;
   width: 100%;
}
.tile a:focus, .tile a:hover {
   color: var(--ereefs-lightest-blue);
}

.tile i.fas {
   display: inline;
   float: right;
   font-family: "Font Awesome 5 Free" !important;
   font-size: 1em;
   margin-top: -0.5em;
   margin-right: -0.5em;
}
.tile h2 {
   margin: 0 0 0.5em 0;
   padding: 0;
}
.tile img {
   display: block;
   width: 100%;
}

@media screen and (max-width:480px) {
   /* mobile */
   .tile {
      display: block;
      min-width: 50px;
      width: 100%;
   }
}

.layout--single.wide.toc-only .page {
   float: none;
}
.layout--single.wide.toc-only .page__hero--overlay .page__title {
   margin-left: 0;
}

@media (min-width: 64em) {
   .layout--single.wide.toc-only .sidebar__right {
      float: right;
      margin-right: -200px;
      padding-left: 1em;
      width: 200px;
   }
}

@media (min-width: 80em) {
   .layout--single.wide.toc-only .sidebar__right {
      float: right;
      margin-right: -300px;
      padding-left: 1em;
      width: 300px;
   }
}
